<div class="p-mt-4">
  <p-panel header="Cadastro" [toggleable]="true">
    <form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit(f)">
      <div class="p-fluid p-formgrid p-grid p-jc-center">
        <div class="p-field p-col-12">
          <label>Nome:</label>
          <input name="nome" type="text" pInputText [(ngModel)]="objeto.nome" />
        </div>
        <div class="p-field p-col-12">
          <label>Preço:</label>
          <p-inputNumber
            inputId="campoValor"
            [(ngModel)]="objeto.preco"
            name="valor"
            mode="currency"
            currency="BRL"
            locale="pt-br"
          ></p-inputNumber>
        </div>
        <div class="p-field p-col-12">
          <label>Professor:</label>
          <p-dropdown
            inputId="state"
            [options]="professores"
            [(ngModel)]="objeto.professor"
            name="professor"
            placeholder="Seleciona um professor"
            optionLabel="nome"
          ></p-dropdown>
        </div>
        <div class="p-field p-col-3">
          <button
            pButton
            type="submit"
            class="p-button-raised p-button-rounded"
            icon="pi pi-fw pi-save"
            label="Salvar"
          ></button>
        </div>
      </div>
    </form>
  </p-panel>
</div>

<div class="card">
  <p-panel header="Listagem" [toggleable]="true">
    <p-table [value]="objetos">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="nome">
            Nome <p-sortIcon field="code"></p-sortIcon>
          </th>
          <th pSortableColumn="preco">
            Preço <p-sortIcon field="Preço"></p-sortIcon>
          </th>
          <th>Professor</th>
          <th>Opções</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-elemento>
        <tr>
          <td>{{ elemento.nome }}</td>
          <td>{{ elemento.preco | currency: "BRL" }}</td>
          <td>{{ elemento.professor.nome }}</td>
          <td>
            <button
              pButton
              type="button"
              title="Editar"
              icon="pi pi-pencil"
              class="p-button-rounded p-button-outlined p-button-info"
              (click)="editar(elemento)"
            ></button>
            <button
              pButton
              icon="pi pi-trash"
              class="p-button-rounded p-button-outlined p-button-danger p-ml-2"
              (click)="remover(elemento)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-panel>
</div>
